<h2> All Repositories </h2>

<h4> Search by Repository: </h4>

<%= form_tag(root_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= check_box_tag :cache_clear %> Clear Cache
  <%= submit_tag("Search") %>
<% end %>

<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
</style>

<% unless @respostories.blank? %>
  <h3> Total <%= @respostories[:search_count] %> Results Found  </h3>
  <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Full Name</th>
    <th>Clone URL </th>
    <th>Forks Count</th>
  </tr>
  <% @respostories[:search_result_list].each do |result_object| %>
  <tr>
    <td><%= result_object[:name] %></td>
    <td><%= result_object[:description] %></td>
    <td><%= result_object[:full_name] %></td>
    <td><%= link_to result_object[:clone_url], result_object[:clone_url], target: '_blank' %></td>
    <td><%= result_object[:forks_count] %></td>
  </tr>
  <% end %>
</table>
<% end %>